﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="fivasearch1.aspx.cs" Inherits="WEBSITE1.fivasearch1" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
<style type="text/css">
    a.HyperLinkHover
{
        color: #95FBCF; 
        background-color:#ff0;
        background-color: #377CB1;  
}

a.HyperLinkHover:visited { color:Purple;}
    .styled-button-1 {
	border-style: none;
        border-color: inherit;
        border-width: medium;
        -webkit-box-shadow:rgba(0,0,0,0.2) 0 1px 0 0;
	    -moz-box-shadow:rgba(0,0,0,0.2) 0 1px 0 0;
	    box-shadow:rgba(0,0,0,0.2) 0 1px 0 0;
	    color:Black;
	    background-color: #00468C;
	    border-radius:5px;
	    -moz-border-radius:5px;
	    -webkit-border-radius:5px;
	    font-family:'Helvetica Neue',Arial,sans-serif;
	    font-size:16px;
	    font-weight:700;
	    padding:4px 16px;
	    text-shadow:#FE6 0 1px 0
    }
    
    .search
    {
       
    color: #343434;
    font-weight: normal;
    font-family: 'Ultra', sans-serif;   
    font-size: 36px;
    line-height: 42px;
    text-transform: uppercase;
    text-shadow: 0 2px white, 0 3px #777;
        
        }
    #menu {
	padding: 0 30px 0 45px;
	position: relative;
	background: #209D9D url('images/img02.gif') repeat-x left top;
	margin: 0 0 0 0;
	height: 60px;
	line-height: 60px;
	width: 1187px;
	border-top: solid 1px #5AD7D7;
	text-shadow: 0 1px 1px #007D7D;
        top: 0px;
        left: 0px;
    }
#splash {
	height: 250px;
	position: relative;
	padding: 45px 45px 10px 35px;
	width: 375px;
        top: 0px;
        left: 0px;
        margin-left: 0;
        margin-top: 0;
        margin-bottom: 0;
    }



    .style1
    {
        font-size: xx-large;
        text-align: center;
    }
    .style3
    {
        width: 345px;
    }
    .pic
    {
        width: 371px;
    }
    .para
    {
        background-color:#B9F1FF;
     }
    #searchwrapper {
width:325px; /*follow your image's size*/
height:36px;/*follow your image's size*/
background-image:url('Image/Windows_Live_Search_logo.png');
background-repeat:no-repeat; /*important*/
padding:0px;
margin-left:100;
position:relative;
        top: 44px;
        left: 225px;
        margin-right: 0px;
        margin-top: 0px;
        margin-bottom: 0px;
        background-color:Black;
    }
 
#searchwrapper form { display:inline ; }
 
.searchbox {
/*important*/
    border-style: none;
        border-color: inherit;
        border-width: 0px;
        background-color:White; /*important*/
        position:absolute; /*important*/
        top:4px;
        left:9px;
        width:256px;
        height:28px;
        right: 60px;
        
    }
 
.searchbox_submit {
/*important*/
    border-style: none;
   background: url('../Image/Windows_Live_Search_logo.png') no-repeat left top; 
        border-color: inherit;
        border-width: 0px;
         /*important*/
        position:absolute; /*important*/
        top:5px;
        left:266px;
        width:49px;
        height: 87px;
    }

a:link, a:visited
{
    color: #034af3;
}

</style>
    <title></title>
    <script language="javascript" type="text/javascript">
// <![CDATA[

        function txtSearch_onclick() {

        }

// ]]>
    </script>
</head>
<body>
    <form id="form1" runat="server">
    <div id="menu" class="style1">
		
	    <strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
        A Personalized Ontology Model for Web Information Gathering</strong></div>

         <table bgcolor="#B9F1FF" style="width: 1263px; height: 379px;">
    <tr>
    <td class="style3" bgcolor="#006699">
        	<div id="splash">
		<img class="pic" src="images/global-search-icon.jpg" height="230" alt="" /></div>&nbsp;&nbsp;</td>
        <td><h3 class="search">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
            User Relations &amp; Profile</h3>
                
                  
   <div id="searchwrapper"><form action="">

       &nbsp;<asp:TextBox ID="TextBox1" runat="server" Height="34px" Width="251px"></asp:TextBox>
       <br />&nbsp;<%--<asp:Button ID="Button1" runat="server"  
           class="searchbox_submit" value="" CssClass="searchbox_submit" />
--%><asp:ImageButton ID="ImageButton1" runat="server" 
           onclick="ImageButton1_Click"  CssClass="searchbox_submit" 
           style="height: 27px" ImageUrl="~/Images/Windows_Live_Search_logo.png" />
</form>
</div>

            &nbsp;</p>
            <br />
            &nbsp;&nbsp;
            <asp:CheckBoxList ID="CheckBoxList1" runat="server" AutoPostBack="True" 
            BackColor="#B9F1FF" Height="24px" 
            onselectedindexchanged="CheckBoxList1_SelectedIndexChanged" Width="493px" 
                BorderColor="Black" BorderWidth="1px">
                <asp:ListItem>Family</asp:ListItem>
                <asp:ListItem>Career</asp:ListItem>
                <asp:ListItem>Life Style</asp:ListItem>
                <asp:ListItem>Awards</asp:ListItem>
        </asp:CheckBoxList>

        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<asp:Label 
           ID="Label1" runat="server" Text="Label"></asp:Label>
       &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
       <asp:Button ID="Button1" runat="server" BackColor="#B9F1FF" ForeColor="Black" 
           onclick="Button1_Click" Text="Abstract Biography" />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <br />
            
        <asp:Timer ID="Timer1" runat="server" Interval="1000" ontick="Timer1_Tick">
       </asp:Timer>
            
        </td>
        </tr></table>

    <p style="width: 1265px; height: 228px;" class="para">
        <asp:TextBox ID="TextBox2" runat="server" Height="225px" TextMode="MultiLine" 
            Width="1262px"></asp:TextBox>
             </p>
        <asp:TreeView ID="treeView" runat="server" Width="117px" 
            Height="16px">
        </asp:TreeView>

             <p>
                 <asp:TextBox ID="TextBox3" runat="server" Height="225px" TextMode="MultiLine" 
                     Width="1248px"></asp:TextBox>
             </p>

    </form>
    </body>
</html>
